VITE_EMAILJS_API_KEY=
VITE_EMAILJS_APPRECIATION_TEMPLATE_ID=
VITE_EMAILJS_CONTACT_TEMPLATE_ID=
VITE_EMAILJS_SERVICE_ID=
VITE_RECIPIENT_EMAIL=

# Selar Hosted Product Links
VITE_SELAR_DEFAULT_LINK=
VITE_SELAR_ONEWAY_1=
VITE_SELAR_ONEWAY_2=
VITE_SELAR_ONEWAY_3=
VITE_SELAR_ONEWAY_4=
VITE_SELAR_ONEWAY_5=
VITE_SELAR_ONEWAY_6=
VITE_SELAR_ONEWAY_7=
VITE_SELAR_ONEWAY_8=
VITE_SELAR_ONEWAY_9=

VITE_SELAR_ROUND_1=
VITE_SELAR_ROUND_2=
VITE_SELAR_ROUND_3=
VITE_SELAR_ROUND_4=
VITE_SELAR_ROUND_5=
VITE_SELAR_ROUND_6=
VITE_SELAR_ROUND_7=
VITE_SELAR_ROUND_8=
VITE_SELAR_ROUND_9=